@import './colors.css'; /* Import the color definitions */

body, html {
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the height to the full viewport height */
  width: 100vw; /* Set the width to the full viewport width */
  font-family: Arial, sans-serif;
  background-color: var(--dark-primary); /* Use the dark primary color as the background */
  color: white; /* Set the text color to white for contrast */
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to the full viewport height */
  width: 100vw; /* Set the width to the full viewport width */
}

.contact-container h1 {
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: var(--dark-highlight); /* Use the dark highlight color for the form background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--dark-shadow); /* Use the dark shadow color for the input borders */
  border-radius: 4px;
  background: var(--dark-secondary); /* Use the dark secondary color for the input backgrounds */
  color: white; /* Set the input text color to white for contrast */
}

.contact-form input[type="submit"] {
  cursor: pointer;
  background-color: var(--dark-highlight); /* Use the dark highlight color for the submit button */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 4px;
}

.contact-form input[type="submit"]:hover {
  background-color: var(--dark-secondary); /* Use the dark secondary color for the submit button hover state */
}