/* styles/Navbar.css */

@import './colors.css';

.navbar {
  position: fixed; 
  top: 0; 
  width: 98%; 
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--dark-primary);
  border-radius: 15px;
  box-shadow: 8px 8px 16px var(--dark-shadow), -8px -8px 16px var(--dark-highlight);
  z-index: 100; /* Ensure the navbar is above other elements */
}

.progress-bar {
  position: fixed;
  top: 4rem; /* Same as the height of the navbar */
  left: 0;
  height: 4px;
  background-color: #fff;
  z-index: 1000;
}
  .logo {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .logo span {
    font-weight: bold;
    font-size: 1.5rem;
  }
  

  .links {
  display: flex;
  flex-direction: row;
}

.link {
  display: block;
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
box-shadow: 3px 3px 6px rgba(26, 23, 126, 0.125), -3px -3px 6px rgba(92, 107, 192, 0.125);
  position: relative;
}

.link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.4s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.link:hover::after {
  width: 100%;
}