@import './colors.css'; /* Import the color definitions */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-background);
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  .skill-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
  }
  
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill-list span {
    margin-left: 0.5em;
    margin-right: 2em;
  }
  body {
    background-color: var(--dark-primary);
    color: var(--dark-highlight);
  }