.tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px;
    height: 100%; /* Adjust as needed */
    overflow: hidden; /* Ensures content stays within the tile */

    /* Glassmorphism styles */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1), 
                5px 5px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Add a light border for the glass effect */
}
.text {
    /* Add other styles as needed */
    margin-bottom: 20px; /* Adjust as needed */
}
/* styles/Tile.css */


  
  .img-parent {
    width: 100%; /* Adjust as needed */
    height: 50%; /* Adjust as needed */
    overflow: hidden; /* Ensures the image stays within the img-parent div */
  }
  
  .img-parent img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area of the img-parent div without stretching */
  }
  
  .text, .link-parent {
    margin-top: 10px;
  }